@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Panel Alcalde";
}
<div class="container py-5">
    <h2 class="mb-3"><i class="bi bi-bank2"></i> Panel de Alcalde</h2>
    <p class="text-secondary">Vista base para la alcaldía.</p>
</div>